GridPane {
  -fx-padding: 10px;
  -fx-hgap: 5px;
  -fx-vgap: 5px;
}

Pane {
  -fx-background-color: black;
  -fx-min-width: 400px;
  -fx-pref-width: 720px;
  -fx-min-height: 400px;
  -fx-pref-height: 720px;
}

Button, ToggleButton {
  -fx-font-weight: bold;
  -fx-pref-width: 80px;
}

Text {
  -fx-font-weight: bold;
}
